.NavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--theme-green);
  overflow: hidden;
  /* position: fixed;
  width: 100%; */
}

.Whisk-logo-img {
  padding: 8px;
  height: 30px;
}

.NavBar-li a {
  display: block;
  color: var(--theme-beige);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  font-family: var(--theme-font-family);
  padding: 14px 16px;
  text-decoration: none;
}

.NavBar-li a:hover {
  color: var(--theme-orange);
}
.active {
  background-color: var(--theme-orange);
}

.NavBar-dropdown {
  float: right;
  overflow: hidden;
  margin-right: 25px;
  margin-top: 3px;
}

.NavBar-dropdown-btn {
  font-size: 18px;
  padding: 10px 14px;
  /* padding: px 14px; */
  border: none;
  border-radius: 40px;
  background-color: var(--theme-orange);
  outline: none;
  color: white;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.NavBar-dropdown-content {
  margin-top: 5px;
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.NavBar-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* .NavBar-dropdown-content a:hover {
  background-color: #ddd;
} */

.NavBar-dropdown-content-links:hover {
  color: var(--theme-orange);
}

.NavBar-dropdown:hover .NavBar-dropdown-content {
  display: block;
}
