.BookDetails-header {
  border-bottom: 1px solid var(--theme-purple);
}

.BookDetails-title {
  font-size: 2rem;
  color: purple;
  text-align: left;
  font-weight: 700;
}

.BookDetails-browse-btn {
  text-decoration: none;
  border: none;
  display: inline-block;
  background-color: var(--theme-green);
  margin: 0 auto;
  margin-top: 25px;

  padding: 10px 15px;
  border-radius: 8px;
}

.BookDetails-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
