.AnonHome-whisk-logo {
  margin-top: 50px;
  width: 40%;
}

.AnonHome-slogan {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0px;
}

.AnonHome {
  margin-bottom: 0px;
}
.AnonHome-slideshow {
  margin-top: 0px;
}
